@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.popup__container {
  /* width: 85%; */
  margin: 1.5em auto;
}

.popup__fieldset {
  border-block: unset;
}

.popup__content {
  max-width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  top: 0%;
  position: relative;
  animation: zoomIn 1s ease-in-out;
}
@media screen and (max-width: 768px) {
  .popup__content {
    max-width: 282px;
    height: 322px;
  }
  .popup__button-typesave {
    width: 238px;
    height: 46px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
