.profile__profession {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 487px;
}

@media screen and (max-width: 768px) {
  .profile__profession {
    max-width: 282px;
  }
}
