.profile__button-edit {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: url(../../../../images/edit_button.svg) no-repeat 1px 50%;
  border: 1px solid #fff;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 18px;
}
