@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page.css);

@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/button.css);
@import url(../blocks/popup.css);
@import url(../blocks/footer.css);

.header__button {
  background-image: url(../images/edit_button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 54px;
  height: 45px;
  /* background-color: #0000; */
  height: 45px;
  width: 54px;
  position: absolute;
  border: 0;
  left: 42px;
  top: 25px;
}
.header__button:hover {
  animation: rotate 1.5s linear infinite;
}
.profile__overlay {
  position: relative;
}

.popup__containerAvatar {
  padding: 4rem;
}
.popup__fieldsetA {
  border-block: unset;
  border: none;
  padding-left: 0px;
  padding-right: 76px;
}
.popup__input-avatar {
  width: 133%;
}
