@import url(../pages/normalize.css);
@import url(../blocks/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

.profile__button-add {
  /* margin-top: 38px;
  margin-bottom: 28px;
  padding: 1px 118px; */
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background: url(../images/add_button.svg) no-repeat 71px 50%;
  border: 1px solid #fff;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: auto;
}
.profile__avatar {
  border-radius: 50%;
}

.profile {
  display: flex;
  padding-top: 2.4rem;
}

.profile__button-edit {
  /* margin-top: 20px;
  margin-bottom: 47px;
  padding: 3px 6px; */
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: url(../images/edit_button.svg) no-repeat 1px 50%;
  border: 1px solid #fff;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 18px;
}
.profile__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.profile__edit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 46%;
  margin: 1rem;
}

.profile__avatar {
  /* margin-left: 177px; ma*/
  max-width: 168.75px;
}
.profile__name {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__edit {
    align-items: center;
  }
  .profile__button-add {
    width: 282px;
    height: 50px;
    background: url(../images/add_button.svg) no-repeat 129px 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
