@import url(../pages/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__cointainer/profile__container.css);
@import url(../blocks/profile/__button/-add/profile__button-add.css);
@import url(../blocks/profile/__button/-edit/profile__button-edit.css);
@import url(../blocks/profile/__profession/profile__profesion.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/card/card.css);
@import url(../blocks/cards/card/__text/card__text.css);
@import url(../blocks/cards/card/__info/card__info.css);
@import url(../blocks/cards/card/__button/__type-like/button__type-like.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__title/popup_title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__button_type/-close/button__type-close.css);
@import url(../blocks/popup/__button_type/-save/button__type-save.css);
@import url(../blocks/popup/__open/popup__open.css);
@import url(../blocks/popup/__container/popup__container.css);

.images__card {
  width: 282px;
  height: 282px;
}

.popup__content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.popup__image {
  width: 433px;
  height: 540px;
}

.button_close {
  background: url(../images/close_button.svg) no-repeat center;
  width: 24px;
  height: 24px;
  border: none;
  rotate: 90deg;
  transform: rotate(90deg);
  position: absolute;
  top: -5%;
  right: -16px;
}

.button__delete {
  background: url(../images/delete_button.svg) no-repeat;
  width: 19px;
  height: 19px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: 18px;
  left: 247px;
}
.button__like {
  background: url(../images/like.svg);
  opacity: 1;
  border: none;
  background-repeat: no-repeat;
}

.popup_opened {
  display: flex;
  position: fixed;
  animation: zoomIn 0.5s ease-in-out;
}
