.button__type-like {
  background: url(../../../../../images/button_like.svg) no-repeat;
  width: 23px;
  height: 23px;
  align-items: center;
  border: none;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}

.button__like {
  background: url(../../../../../images/like.svg);
  opacity: 1;
  border: none;
  background-repeat: no-repeat;
}
